@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}
@*<div class="mt-4 alert alert-warning">
    <h3>@ViewData["Message1"]</h3>
</div>
*@
@*<div class="mt-4 alert alert-warning">
    <h3>@ViewBag.Message1</h3>
</div>*@

@if (!string.IsNullOrEmpty(TempData["MSG"] as string))
{
    <div class="mt-4 alert alert-primary">
        @TempData["MSG"]
    </div>
}



<h1>All Employees</h1>
<br />
<br />
<a asp-action="Create" class="btn btn-primary">Create New Employee </a>

@*Search*@
<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchInp" placeholder="Search By Name"/>
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success"/>
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
    <table class="mt-3 table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Image)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Address)</th>
                <th>@Html.DisplayNameFor(E => E.Department)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(E => E.HireDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var Employee in Model)
            {
                <tr>
                    <td>@Employee.Name</td>
                    <td>
                        <img src="~/files/images/@Employee.ImageName" width="75" class="img-fluid rounded-circle" />
                    </td>
                    <td>@Employee.Age</td>
                    <td>@Employee.Address</td>
                    <td>@Employee.Department?.Name</td>
                    <td>@Html.DisplayFor(M => Employee.Salary)</td>
                    <td>@Html.DisplayFor(M => Employee.IsActive)</td>
                    <td>@Html.DisplayFor(M => Employee.Email)</td>
                    <td>@Employee.PhoneNumber</td>
                    <td>@Employee.HireDate</td>
                    <partial name="_ButtonsPartial" model="@Employee.Id.ToString()"/>
                    <td>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@Employee.Id" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


else{
<div class="mt-4 alert alert-warning">
    <h3>there Is No Employees</h3>
</div>
}